<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">

    <h1 class="display-2">
      fizzy
    </h1>
    <small class="lead">the hassle-free configuration manager</small>

    <hr class="m-y-2">

    <p class="lead text-muted">
      get rid of the motherfucking bloated, hard-as-fuck tools like ansible,
      chef, puppet and get things done right now!
    </p>
    <p class="lead text-muted">
      fizzy is an easy-to-use, learn-by-doing, lightweight configuration
      management tool meant to be used by developers, hackers, experienced users
    </p>

    <hr class="m-y-2">

    <p class="lead">
      <a class="btn btn-primary btn-lg"
         role="button"
         href="https://github.com/alem0lars/fizzy">
         Download
      </a>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>

  </div>
</div>
